.Secondcomp {
  display: flex;
  height: 300px;
  justify-content: space-evenly;
  background-color: rgb(43, 30, 22);
  color: white;
  text-align: center;
  padding-bottom: 350px;
  line-height: 24px;
}
.Secondcomp img {
  height: 200px;
  width: 100px;
}
.Secondcomp h2 {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.Secondcomp p {
  color: rgb(224, 203, 193);
  width: 280px;
  text-align: left;
}
