.Thirdcomp {
  min-height: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.images img {
  height: 500px;
  width: 400px;
}
.images2 {
  position: relative;
  top: 100px;
}
@media (max-width: 600px) {
  .images2 {
    top: 0px;
  }
}
.Info img {
  height: 50px;
  width: 200px;
  margin: 5px;
}
.Info {
  margin: 100px 50px;
  min-width: 200px;
  padding: 50px;
}
.pt {
  max-width: 300px;
  font-weight: 600;
  font-size: 40px;
}
.Info p {
  max-width: 500px;
  color: grey;
  font-size: 25px;
  margin-bottom: 50px;
}
