.Footer1 {
  height: 500px;
  background-color: black;
  padding-top: 100px;
  line-height: 35px;
  padding-bottom: 0px;
}
.Footer1-flex {
  display: flex;
  justify-content: space-around;
}
.Footer-div4 img {
  display: block;
  height: 70px;
  width: 200px;
  margin-bottom: 50px;
}
.Footer1 ul {
  list-style: none;
  margin-bottom: 0px;
}
.Footer1 a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.Footer1 h6 {
  text-align: center;
  color: grey;
  margin-bottom: 20px;
  font-weight: 500;
}
.Footer1 hr {
  color: white;
  background-color: white;
  margin: 0px 120px;
  height: 20px;
}
