.Footer2 {
  background-color: black;
  min-height: 300px;
  line-height: 40px;
}
.Footer2-div {
  display: flex;
  justify-content: space-around;
  padding-right: 50px;
  flex-wrap: wrap;
  padding-left: 50px;
}
.Footer2 ul {
  list-style: none;
  min-width: 200px;
}
.Footer2 a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.Footer2 h6 {
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 120px;
  color: grey;
}
.Footer2 hr {
  color: white;
  background-color: white;
  margin: 0px 120px;
  height: 1px;
}
