.Footer3 {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-around;
}
.Footer3 img {
  height: 50px;
}
.Footer3 h4 {
  color: white;
}
.Footer3 i {
  height: 100px;
}
