.Thirdcomp {
  height: 600px;
  display: flex;
  justify-content: space-evenly;
}
.images img {
  height: 500px;
  width: 400px;
}
.images2 {
  position: relative;
  top: 100px;
}
.Info img {
  height: 50px;
  width: 200px;
  margin: 5px;
}
.Info {
  margin: 200px 50px;
}
.pt {
  max-width: 300px;
  font-weight: 600;
  font-size: 40px;
}
.Info p {
  max-width: 500px;
  color: grey;
  font-size: 25px;
  margin-bottom: 50px;
}
